<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Paragraph Structure</title>
  </head>

  <body>
    <dl>
      <dt>Statement type:</dt>
      <dd>{{statement_type}}</dd>
      <dt>Basic conjunction:</dt>
      <dd>{{basic_conjunction}}</dd>
      <dt>Expository term:</dt>
      <dd>{{expository_term}}</dd>
      <dt>Question term:</dt>
      <dd>{{question_term}}</dd>
      <dt>Subordinating conjunction:</dt>
      <dd>{{subordinating_conjunction}}</dd>
      <dt>To do:</dt>
      <dd>{{to_do}}</dd>
      <dt>Phase:</dt>
      <dd>{{phase}}</dd>
      <dt>Phase:</dt>
      <dd>{{transition}}</dd>
    </dl>

    <button onclick="window.location.reload();">New Term</button>
  </body>
</html>
